<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>period</title>
</head>
<body>
<div style="margin: auto">
    <a href="http://www.asperiod.html">没数字</a>
    <a href="http://www.123.html">有数字</a>
    <a href="http://www.asd.html/h:80">有数字</a>
</div>
</body>
<script>
var aElements = document.getElementsByTagName('a');
for(var i = 0;i<aElements.length;i++){
    (function (i,e) {
        aElements[i].addEventListener('click',function () {
            if(aElements[i].href.match(/[0-9]/)){
                alert('危险，禁止跳转');
                stopDefault(e);
            }
        })
    })(i)
}
function stopDefault(e)
{
    if (e&&e.preventDefault){
        e.preventDefault();
    }
    else{
        window.event.returnValue = false;
    }
}
var a, b;
var solveMeFirst = (a,b) => a+b;
while((a=readInt())!=null && (b=readInt())!=null){
    let c = solveMeFirst(a, b);
    console.log(c);
}
</script>
</html>